[package]
name = "identity-sequencer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
  "crates/sequencer",
  "crates/tree_availability",
  "crates/state_bridge",
  "crates/common"
]



[dependencies]
clap = {version = "4.4.6", features = ["derive"]}
ethers = "2.0.10"
eyre = "0.6.8"
futures = "0.3.28"
tokio = "1.33.0"
tree_availability = { path = "crates/tree_availability" }


[[bin]]
name = "identity-sequencer"
path = "bin/identity_sequencer_service.rs"

[[bin]]
name = "state-bridge-service"
path = "bin/state_bridge_service.rs"


[[bin]]
name = "tree-availability-service"
path = "bin/tree_availability_service.rs"


