[package]
name = "identity-sequencer"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
  "crates/common"
,
  "crates/sequencer",
  "crates/state_bridge",
  "crates/tree_availability"]

[dependencies]
clap = { version = "4.4.6", features = ["derive"] }
common = { path = "./crates/common" }
ethers = "2.0.10"
eyre = "0.6.8"
futures = "0.3.28"
reqwest = "0.11.22"
serde = "1.0.188"
state_bridge = { path = "crates/state_bridge" }
tokio = { version = "1.33.0", features = ["full"] }
toml = "0.8.4"
tracing = "0.1.40"
tree_availability = { path = "crates/tree_availability" }

[[bin]]
name = "tree-availability-service"
path = "bin/tree_availability_service.rs"

[[bin]]
name = "state-bridge-service"
path = "bin/state_bridge_service.rs"
